@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h6>
    Quick Business Intelligence Professional is an innovative web application that aims to deliver big data analysis
    to your computer. The app is free and the only thing you need is internet connection and a modern web browser.
</h6>
