@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sofia, Bulgaria<br />
    Pleven 1 str<br />
    <abbr title="Phone">P:</abbr>
    +359885221447
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ddavidkov@qbipro.com">ddavidkov@qbipro.com</a><br />
</address>
