@{
    ViewData["Title"] = "Quick Business Intelligence Professional";
}
<h1 class="text-center">Quick Business Intelligence Professional</h1>
<hr>
<div class="row">
    <div class="col-md-3">
        <h2 class="text-info">Quick</h2>
        <ul>
            <li>Import</li>
            <li>Transform</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="text-info">Business Inteligence</h2>
        <ul>
            <li>Choose desired report metrics</li>
            <li>Choose prefered visualization tools</li>
            <li>Quick and responsive visualization of data</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="text-info">Professional</h2>
        <ul>
            <li>Professional analysis tool at your web browser</li>
            <li>Easy and meaningful analysis</li>
            <li>Mobile friendly</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="text-info">Free</h2>
        <ul>
            <li>No payment needed</li>
            <li>Registration takes 20 seconds</li>
            <li>No data uploaded is stored in our servers</li>
        </ul>
    </div>
</div>
